
customModels/migrations/__pycache__/*
bootstrap/migrations/__pycache__/*
bootstrap/__pycache__/*
users/__pycache__/*
brainwaves/__pycache__/*
projets/__pycache__/*
classes/__pycache__/*
states/__pycache__/*
jsons/__pycache__/*
customModels/__pycache__/*
main/__pycache__/*
