api/json
api/poids
api/footage
api/memory/*
/__pycache__/*
api/customModels/migrations/__pycache__/*
api/bootstrap/migrations/__pycache__/*
api/bootstrap/__pycache__/*
api/users/__pycache__/*
api/brainwaves/__pycache__/*
api/projets/__pycache__/*
api/classes/__pycache__/*
api/states/__pycache__/*
api/jsons/__pycache__/*
api/customModels/__pycache__/*
api/main/__pycache__/*
memory/*
python-server/__pycache__/*
python-server/tracker/__pycache__/*
python-server/tracker/utils/__pycache__/*
python-server/detector/__pycache__/*
tauri-flow/src-tauri/py/__pycache__/detector.cpython-311.pyc
tauri-flow/src-tauri/py/__pycache__/extraction.cpython-311.pyc
poids.pt
bootstrap/__pycache__/*
bootstrap/migrations/__pycache__/*

